.navbar {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 1rem 2rem;
}

.navbar-brand img {
  max-height: 70px;
}

.nav-link {
  color: #ffffff;
  font-size: 1.1rem;
  margin: 0 0.5rem;
  transition: color 0.3s;
}

.nav-link:hover,
.nav-link.active {
  color: #ffc107;
  font-weight: bold;
}

.btn-warning {
  font-weight: bold;
  color: #000;
  border: none;
  transition: background-color 0.3s;
}

.btn-warning:hover {
  background-color: #e0a800;
  color: #000;
}


.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.offcanvas {
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
}

.offcanvas-header {
  position: relative;
}

.offcanvas-header .btn-close {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  border: none;
  padding: 0.5rem;
}

.offcanvas-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.btn-close img {
  filter: none;
  width: 40px;
  margin: 5px;
  height: 40px;
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.offcanvas-body .navbar-nav {
  width: 100%;
  text-align: center;
}

.offcanvas-body .nav-item {
  width: 100%;
  margin: 0.5rem 0;
}

.offcanvas-body .btn {
  background-color: #ffc107;
}

.offcanvas-body .btn:hover {
  background-color: #e0a800;
}

@media (max-width: 991.98px) {
  .offcanvas.show + .navbar-collapse {
    display: none;
  }

}
@media (max-width: 600px) {
  .nav-link, .btn{
    font-size: 1.5em;
  }

}
