<div class="container">

<div  id="inicio" class="container m-auto">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center m-auto">
      <h1>ESTILO É UM REFLEXO DA SUA ATITUDE E SUA PERSONALIDADE</h1>
      <p>Horário de funcionamento: 09:00 às 18:00</p>
      <button class="btn btn-warning">Agendar horário</button>
    </div>
  </div>
</div>

<div  id="sobre" class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="../../assets/img/equipamentos.jpg" alt="equipamentos" class="img1">
      <img src="../../assets/img/seca-cabelo.jpg" alt="homem secando cabelo" class="img2">
      <img src="../../assets/img/corte-cabelo.jpg" alt="corte de cabelo" class="img3">
    </div>
    <div class="col-md-6">
      <h2>Sobre</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod exercitationem inventore quia adipisci commodi laudantium aliquid alias perspiciatis enim, est consequuntur, nisi recusandae ratione possimus rerum eius dignissimos eum quae? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam adipisci, necessitatibus cum dicta repudiandae accusantium officiis nostrum animi maiores sit in quidem cupiditate unde nisi explicabo. Cum esse voluptatum impedit!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod exercitationem inventore quia adipisci commodi laudantium aliquid alias perspiciatis enim, est consequuntur, nisi recusandae ratione possimus rerum eius dignissimos eum quae? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam adipisci, necessitatibus cum dicta repudiandae accusantium officiis nostrum animi maiores sit in quidem cupiditate unde nisi explicabo. Cum esse voluptatum impedit!</p>
      <p><b>Horário de funcionamento: 09:00 às 18:00</b></p>
    </div>
  </div>
</div>
<div id="servicos" class="container">
  <div class="row">
    <div class="col-10 m-auto text-center">
      <h2>Serviços</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam saepe molestiae culpa corrupti voluptate cumque ex animi voluptatum soluta quas magni, non recusandae tempora cum eius ad ipsum officiis libero!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <div class="carousel">
        <div class="carousel-wrapper">
          <div class="card">
            <img class="card-img-top img1" src="assets/img/corte-masculino.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Corte de cabelo masculino</h5>
              <a href="#" class="btn btn-dark">R$50,00</a>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top img2" src="assets/img/corte-feminino.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Corte de cabelo feminino</h5>
              <a href="#" class="btn btn-dark">R$80,00</a>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top img3" src="assets/img/corte-barba.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Corte de barba</h5>
              <a href="#" class="btn btn-dark">R$30,00</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div  id="equipe" class="container align-middle">
  <div>
    <div class="row linha-preta">
      <div class="position-relative">
        <h2 class="titulo-inclinado">NOSSA EQUIPE</h2>
      </div>
      <div class="col-12 m-auto text-center m-auto" style="height: 80%;">
        <div class="row justify-content-center">
          <div class="card">
            <img class="card-img-top img1" src="assets/img/israel.jpg" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title">ISRAEL</h2>
              <div class="social-icons">
                <img class="card-img-top img2" src="assets/img/instagram.png" alt="Card image cap">
                <img class="card-img-top img2" src="assets/img/facebook.png" alt="Card image cap">
                <img class="card-img-top img2" src="assets/img/whatsapp.png" alt="Card image cap">
              </div>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top img2" src="assets/img/joshua.jpg" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title">JOSHUA</h2>
              <div class="social-icons">
                <img class="card-img-top img2" src="assets/img/instagram.png" alt="Card image cap">
                <img class="card-img-top img2" src="assets/img/facebook.png" alt="Card image cap">
                <img class="card-img-top img2" src="assets/img/whatsapp.png" alt="Card image cap">
              </div>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top img3" src="assets/img/reza.jpg" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title">REZA</h2>
              <div class="social-icons">
                <img class="card-img-top img2" src="assets/img/instagram.png" alt="Card image cap">
                <img class="card-img-top img2" src="assets/img/facebook.png" alt="Card image cap">
                <img class="card-img-top img2" src="assets/img/whatsapp.png" alt="Card image cap">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div  id="unidades" class="container">
  <div>
    <div class="row ">
      <div class="col-12 m-auto text-center m-auto" style="height: 80%;">
        <h2>NOSSAS UNIDADES</h2>
        <div class="row justify-content-center">
          <div class="card">
            <img src="assets/img/loc1.jpg" alt="Card image cap">
            <div class="card-body">
              <img src="" alt="">
              <img class="icon" src="assets/img/localizacao.png" alt="Card image cap">
              <h2 class="card-title">Rua dos Barbeiros,123</h2>
              <p>Cidade dos penteados, SP</p>
            </div>
          </div>
          <div class="card">
            <img src="assets/img/loc2.jpg" alt="Card image cap">
            <div class="card-body">
              <img class="icon" src="assets/img/localizacao.png" alt="Card image cap">
              <h2 class="card-title">Avenida das Tesouras,456</h2>
              <p>Cidade dos cortes, RJ</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="contato" class="container">
  <div class="row linha-logo">
      <div class="icons">
          <img class="card-img-top img2" src="assets/img/instagram-dark.png" alt="Card image cap">
          <img class="card-img-top img2" src="assets/img/facebook-dark.png" alt="Card image cap">
          <img class="card-img-top img2" src="assets/img/whatsapp-dark.png" alt="Card image cap">
      </div>
      <img src="assets/img/logo-blue.png" alt="">
  </div>
  <div class="row linha-contato">
      <div class="col-12 m-auto text-center" style="height: 80%;">
          <div class="row justify-content-center">
              <h2>CONTATO</h2>
              <div class="d-flex justify-content-start contato-icons">
                  <p><img src="assets/img/e-mail.png" alt="">BarbeariaProjetoFicticio&#64;Barbearia.com.br</p>
                  <p><img src="assets/img/facebook.png" alt="">Barbearia_Projeto_Ficticio&#64;</p>
                  <p><img src="assets/img/instagram.png" alt="">Barbearia_Projeto_Ficticio&#64;</p>
                  <p><img src="assets/img/whatsapp.png" alt="">+55(62)9 8643-6602</p>
              </div>
          </div>
      </div>
      <footer class="footer text-center">
          <p>© 2024 Barber Shop Imaginária. Todos os direitos reservados. Este site é inteiramente ilustrativo e as informações contidas aqui são fictícias, destinadas apenas para fins de demonstração.</p>
      </footer>
  </div>
</div>


</div>
