body, html, .container{
  margin: 0;
  padding: 0;
}
.container {
  width: 100vw;
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

#inicio {
  background-image: url("../../assets/img/incio-bg.jpg");
  background-color: #080B16;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#inicio .row {
  color: white;
  text-align: center;
}

#inicio .row h1, #sobre h2, #servicos h2 {
  font-weight: bolder;
  font-size: 3em;
}

#inicio .row p {
  font-weight: 300;
  font-size: 1.5em;
}

#inicio .row button {
  width: 40%;
  font-weight: 500;
  font-size: 1.5em;
}

#sobre{
  background-color: #0D121E;
  color: white;
}
#sobre p{
  font-size: 1.3em;
  text-indent: 10px;
  text-align: justify;
  max-width: 90%;
  margin: 10px;
}
#sobre h2{
  text-indent: 20px;
  margin-bottom: 30px;
}
#sobre .img1 {
  max-width: 500px;
  position: relative;
  left: 5%;
  top: 20%;
}

#sobre .img2 {
  max-width: 350px;
  position: relative;
  left: -10%;
  top: -10%;
  z-index: 1;
}

#sobre .img3 {
  max-width: 300px;
  position: relative;
  left: 60%;
  top: -25%;
  z-index: 0;
}
#servicos{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#servicos p{
  margin: 10px 20px;
  font-size: 1.3em;
}
#servicos a{
  font-weight: 600;
}
#servicos h2{
  font-weight: 600;
  margin: -100px auto 50px auto;

}
#servicos .card {
  width: 20rem;
  height: 300px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 0;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

#servicos .card-img-top {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

#servicos .card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  box-sizing: border-box;
  padding: 10px;
}

#servicos .card-title {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

#servicos .btn-dark {
  margin: 0;
  font-size: 1rem;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
}

.linha-preta {
  background: linear-gradient(to bottom, #0D121E, black);
  color: white;
  width: 100vw;
  height: 70vh;
  display: flex;
  align-items: center;
  position: relative;
}

#equipe {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  padding: 20px;
  overflow: visible;
}

#equipe .card {
  background-color: transparent;
  width: 20rem;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 0;
  border-radius: 10px;
}

#equipe .card-img-top {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
#equipe .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: transparent;
  color: white;
}

#equipe .card-title {
  margin: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  opacity: 0.3;
  margin-top: -80px;
  margin-bottom: 50px;
}

#equipe .card-body .social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

#equipe .card-body .social-icons img {
  width: 30px;
  height: 30px;
  margin: 10px;
  object-fit: contain;
}
#equipe .card-body .social-icons img:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.titulo-inclinado {
  position: absolute;
  transform: rotate(-90deg) translateX(-50%);
  transform-origin: center;
  font-size: 4em;
  font-weight: bold;
  color: #333;
}
.position-relative{
  position: absolute;
  top: 0%!important;
  left: 5%;
}



#unidades{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  overflow: visible;
}
#unidades .card {
  background-color: transparent;
  width: 23rem;
  height: 500px;
  margin: 20px;
  padding: 0;
  border: none;
  border-radius: 10px;
}

#unidades .card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px!important;
}

#unidades .card-body {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  color: white;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}

#unidades .card-title,
#unidades p {
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 900;
}

#unidades p {
  font-size: 1.1rem;
  font-weight: 600;
}

#unidades .icon {
  height: 50px;
  width: auto;
}
#unidades h2{
  font-weight: bolder;
  font-size: 2.5em;
  margin-bottom: 200px;
}
#contato {
  position: relative;
overflow: hidden;
}
#contato h2{
  margin-top: 20px;
}

.linha-contato {
  background: linear-gradient(to right, #0D121E, black);
  color: white;
  width: 100%;
  height: 50vh;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.linha-logo {
  background: white;
  color: black;
  width: 100%;
  height: 50vh;
  position: absolute;
  top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.linha-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.linha-logo img {
  max-height: 200px;
  width: auto;
}

.linha-logo .icons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.linha-logo .icons img {
  max-height: 30px;
  width: auto;
  margin: 5px;
}
.contato-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contato-icons img {
  max-height: 40px;
  width: auto;
  margin-right: 10px;
}

.contato-icons p {
  font-size: 1em;
  margin: 20px 200px;
  padding: 0;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.contato-icons img:hover {
  transform: scale(1.2);
  cursor: pointer;
  margin-right: 20px;
}
.footer {
  width: 100%;
  padding: 20px 0;
  background: linear-gradient(to right, #0D121E, black);
  color: white;
  display: flex;
  border-top: 4px solid #0D121E;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer p {
  margin: 0;
  font-size: 1rem;
}


@media (max-width: 576px) {
  #contato {
    position: relative;
  }

  #contato h2 {
    margin-top: 10px;
    font-size: 1.5rem;
  }

  .linha-contato {
    background: linear-gradient(to right, #0D121E, black);
    color: white;
    width: 100%;
    height: 50vh;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .linha-logo {
    flex-direction: column;
    height: auto;
    padding: 10px;
    position: static;
  }

  .linha-logo img {
    max-height: 150px;
  }

  .linha-logo .icons {
    margin-bottom: 15px;
    justify-content: center;
  }

  .contato-icons {
    align-items: center;
    text-align: center;
    margin: 10px auto;
  }

  .contato-icons p {
    font-size: 0.9em;
    margin: 10px 0;
    padding: 0;
  }

  .footer {
    padding: 10px;
    font-size: 0.8rem;
  }
}

@media (max-width: 1740px) and (min-width: 1700px) {
  #sobre img {
    max-width: 300px!important;
    height: auto;
  }

  p {
    padding: 50px 10px;
  }

  #sobre .img1 {
    position: relative;
    left: 5%;
    top: 40%;
  }

  #sobre .img2 {
    position: relative;
    left: 30%;
    top: 30%;
    z-index: 1;
  }

  #sobre .img3 {
    position: relative;
    left: 30%;
    top: -25%;
    z-index: 0;
  }
}

@media (max-width: 1700px) and (min-width: 1240px) {
  #sobre img {
    max-width: 300px!important;
    height: auto;
  }

  p {
    padding: 50px 10px;
  }

  #sobre .img1 {
    position: relative;
    left: 5%;
    top: 35%;
  }

  #sobre .img2 {
    position: relative;
    width: 250px;
    left: 10%;
    top: 30%;
    z-index: 1;
  }

  #sobre .img3 {
    position: relative;
    left: 20%;
    top: -25%;
    z-index: 0;
  }
}

@media (max-width: 1240px) and (min-width: 1030px) {
  #sobre img {
    max-width: 300px!important;
    height: auto;
  }

  p {
    padding: 50px 10px;
  }

  #sobre .img1 {
    position: relative;
    left: 5%;
    top: 30%;
  }

  #sobre .img2 {
    position: relative;
    left: 30%;
    top: 30%;
    z-index: 1;
  }

  #sobre .img3 {
    position: relative;
    left: 20%;
    top: -50%;
    z-index: 0;
  }
}


@media (max-width: 1030px) and (min-width: 865px) {
  #sobre img {
    max-width: 300px!important;
    height: auto;
  }

  p {
    padding: 50px 10px;
  }

  #sobre .img1 {
    position: relative;
    left: 5%;
    top: 40%;
  }

  #sobre .img2 {
    position: relative;
    left: 30%;
    top: 38%;
    z-index: 1;
  }

  #sobre .img3 {
    position: relative;
    left: 20%;
    top: -30%;
    z-index: 0;
  }
}

@media (max-width: 865px) and (min-width: 768px) {
  #sobre img {
    max-width: 300px!important;
    height: auto;
  }

  p {
    padding: 50px 10px;
  }

  #sobre .img1 {
    position: relative;
    left: 5%;
    top: 40%;
  }

  #sobre .img2 {
    position: relative;
    left: 25%;
    top: 38%;
    z-index: 1;
  }

  #sobre .img3 {
    position: relative;
    left: 20%;
    top: -20%;
    z-index: 0;
  }
}

@media (max-width: 768px) and (min-width: 600px) {
  #sobre img {
    max-width: 300px!important;
    height: auto;
  }

  p {
    padding: 50px 10px;
  }

  #sobre .img1 {
    position: relative;
    left: 35%;
    top: 45%;
    z-index: 10;
  }

  #sobre .img2 {
    position: relative;
    left: 15%;
    top: 10%;
    z-index: 1;
  }

  #sobre .img3 {
    position: relative;
    left: 5%;
    top: -30%;
    z-index: 0;
  }
}
@media (max-width: 400px) {
  #sobre img{
    max-width: 100px!important;
    height: auto;
  }
  p{
    padding: 50px 10px;
  }

  #sobre .img2 {
    max-width: 350px;
    position: relative;
    left: 2%;
    top: 20%;
    z-index: 1;
  }
}

@media (max-width: 600px)  {
  #sobre img{
    max-width: 200px!important;
    height: auto;
  }
  p{
    padding: 50px 10px;
  }
}



@media (max-width: 1740px)  {
  #servicos h2{
    font-weight: 600;
    margin: 100px auto 50px auto!important;

  }
}






#servicos{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#servicos p{
  margin: 10px 20px;
  font-size: 1.3em;
}
#servicos a{
  font-weight: 600;
}
#servicos h2{
  font-weight: 600;
  margin: -100px auto 50px auto;

}
#servicos .card {
  width: 20rem;
  height: 300px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 0;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

#servicos .card-img-top {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

#servicos .card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  box-sizing: border-box;
  padding: 10px;
}

#servicos .card-title {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

#servicos .btn-dark {
  margin: 0;
  font-size: 1rem;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
}

.linha-preta {
  background: linear-gradient(to bottom, #0D121E, black);
  color: white;
  width: 100vw;
  height: 70vh;
  display: flex;
  align-items: center;
  position: relative;
}
