<div class="container">

<div  id="inicio" class="container">
  <div class="row justify-content-center ">
    <div class="col-md-6 text-center m-auto">
      <h1>ESTILO É UM REFLEXO DA SUA ATITUDE E SUA PERSONALIDADE</h1>
      <p>Horário de funcionamento: 09:00 às 18:00</p>
      <button class="btn btn-warning">Agendar horário</button>
    </div>
  </div>
</div>

<div  id="sobre" class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="../../assets/img/equipamentos.jpg" alt="equipamentos">
      <img src="../../assets/img/secando-cabelo.jpg" alt="homem secando cabelo">
      <img src="../../assets/img/depilando-cabeca.jpg" alt="corte de cabelo">
    </div>
    <div class="col-md-6">
      <h2>Sobre</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod exercitationem inventore quia adipisci commodi laudantium aliquid alias perspiciatis enim, est consequuntur, nisi recusandae ratione possimus rerum eius dignissimos eum quae? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam adipisci, necessitatibus cum dicta repudiandae accusantium officiis nostrum animi maiores sit in quidem cupiditate unde nisi explicabo. Cum esse voluptatum impedit!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod exercitationem inventore quia adipisci commodi laudantium aliquid alias perspiciatis enim, est consequuntur, nisi recusandae ratione possimus rerum eius dignissimos eum quae? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam adipisci, necessitatibus cum dicta repudiandae accusantium officiis nostrum animi maiores sit in quidem cupiditate unde nisi explicabo. Cum esse voluptatum impedit!</p>
      <p><b>Horário de funcionamento: 09:00 às 18:00</b></p>
    </div>
  </div>
</div>

<div  id="servicos" class="container">
  <div class="row">
    <div class="col-10 m-auto text-center">
      <h2>Serviços</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam saepe molestiae culpa corrupti voluptate cumque ex animi voluptatum soluta quas magni, non recusandae tempora cum eius ad ipsum officiis libero!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <div class="row justify-content-center">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="assets/img/equipamentos.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Corte de cabelo masculino</h5>
            <a href="#" class="btn btn-dark">R$40,00</a>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Corte de cabelo feminino</h5>
            <a href="#" class="btn btn-dark">R$80,00</a>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Corte de barba</h5>
            <a href="#" class="btn btn-dark">R$30,00</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div  id="equipe" class="container">

</div>


<div  id="unidades" class="container">

</div>

<div  id="contato" class="container">

</div>

</div>
